{% extends "base.html" %}
{% block preheader %}
<style type="text/css">
  #orig {
    color: #317EAC;
  }
</style>
{% endblock %}
{% block hero_title %}Make Waking Up Easier{% endblock %}
{% block hero_subtitle %}
    Let us manage the parts you hate, and finally treat yourself to a
    Good Morning
{% endblock %}
{% block content %}
<div class="row zero-row">
  <div class="span5 t-center">
    <h4> 
      Experience a revolutionary movement to simplify your morning
    </h4>
    <p class="lead">Waking up can be hard. Sometimes it's tossing and
      turning, once in a while a hangover, or simply staying up too late,
      but no matter the reason, on many mornings the alarm ringing is a
      dreaded sound.
    </p>
    <h4>Not Anymore</h4>
    <p class="lead">Already have an account?
      <a href="{{ url_for('login') }}">Sign In Here</a>
    </p>
  </div>
  <div class="span6 t-center faded-insert">
    <h4 class="t-center header-dark">Create an account to manage your morning</h4>
    <form action="{{ url_for('users.register') }}" method="POST">
      {{ form.csrf_token }}
      <label class="header-dark">
        <strong>Email Address</strong>
      </label>
      {{ form.email(placeholder="e.g. yourname@example.com") }}
      <span class="help-block myblock">
        Dont worry, your info is safe with us! Check out our
        <a href="#">Privacy Policy</a>
      </span>  
      <label class="header-dark">
        <strong>Password</strong>
      </label>
      {{ form.password(placeholder="Create a password") }}
      <span class="help-block">
        Choose a secure password and write it down somewhere safe!
      </span>
      <label class="header-dark">
        <strong>Phone Number</strong>
      </label>
      {{ form.phone_number(placeholder="e.g. 555-555-5555") }}
      <span class="help-block">
        We'll send you a verification code via text message (SMS)
        <br /><a href="#">How does this work?</a>
      </span>
      <label class="header-dark">
        <strong>Time Zone</strong>
      </label>
      {{ form.timezone }}
      <span class="help-block">
        Just to make sure we don't accidentally wake you up at 2 A.M!
      </span>
      <h4 class="header-dark">
        Now just set your alarm!
      </h4>
      <p class="t-center">
      <button type="submit" class="btn btn-warning btn-large">
        <strong>Get Started &raquo;</strong>
      </button>
      </p>
    </form>
  </div>
</div>
{% endblock %}
