{% extends "base.html" %}
{% block header_addin %}
<style type="text/css">
  .phone-alert {
    overflow: auto;
  }
</style>
{% endblock %}
{% block page_header_title %}{{ user.name }}{% endblock %}
{% block page_header_subtitle %}Your AlarmAway account{% endblock %}
{% block main_content %}
<div class="row">
  <ul class="thumbnails">
    {% if alarms %}
      {% for alarm in alarms %}
        <li class="span4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200">
            <div class="caption">
              <h3>
                {% if alarm.active %}
                  <span class="label label-success">Currently Set</span>
                {% else %}
                  <span class="label labe-important">Not Currently Set</span>
                {% endif %}
              </h3>
              <h3>Alarm Information</h3>
              <dl>
                <dt><strong>Phone</strong></dt>
                <dd>{{ alarm.phone.number|format_phone_number }}</dd>
                <dt>Next Ring</dt>
                <dd>{% if alarm.active %}{{ alarm.getNextRunTime(local=true)|format_user_date }}{% else %}Inactive{% endif %}</dd>
                <dt>Schedule</dt>
                <dd>Every day</dd>
              </dl>
              <p>
                {% if alarm.active %}
                  <a href="{{ url_for('alarms.unset', alarm_id=alarm.id) }}" class="btn btn-primary">Turn off</a>
                {% else %}
                  <a href="{{ url_for('alarms.set', alarm_id=alarm.id) }}" class="btn btn-primary">Set Alarm</a>
                {% endif %}
                <a href="#" class="btn btn">Modify</a>
              </p>
            </div>
          </div>
        </li>
      {% endfor %}
    {% endif %}
      <li class="span4">
        <div class="thumbnail">
          <img src="http://placehold.it/300x200">
          <div class="caption">
            <h3><span class="label label-success">Example</span></h3>
            <a href="{{ url_for('alarms.add') }}"><h3>Create an Alarm!</h3></a>
            <dl>
              <dt><strong>Phone</strong></dt>
              <dd>(555)555-1234</dd>
              <dt>Next Run</dt>
              <dd>Saturday, February 2</dd>
              <dt>Schedule</dt>
              <dd>Every Day</dd>
            </dl>
            <p>
              <a href="{{ url_for('alarms.add') }}" class="btn btn-primary btn-block">Create Your Own</a>
            </p>
          </div>
        </div>
      </li>
  </ul>
</div>

<div class="row">
  <div class="span4">
    <h3>Your Phones</h3>
    {% if phones %}
      {% for phone in phones %}
        {% if phone.verified %}
          <div class="alert alert-success phone-alert">
            <p><strong>Number: </strong>{{ phone.number|format_phone_number }}</p>
            <p><strong>Status: </strong>Verified
              <span class="pull-right"><a href="{{ url_for('phones.remove', phone_id=phone.id) }}" class="btn btn-mini"><i class="icon-trash"></i> Remove </a></span>
            </p>
          </div>
        {% else %}
          <div class="alert alert-error phone-alert" id="unverified-phone-div">
            <p><strong>Number: </strong>{{ phone.number|format_phone_number }}</p>
            <p><strong>Status: </strong>Not Verified <button id="verify-phone-button" class="btn btn-primary btn-small">Verify</button>
              <span class="pull-right" id="remove-phone-link"><a href="{{ url_for('phones.remove', phone_id=phone.id) }}" class="btn btn-mini"><i class="icon-trash"></i> Remove </a></span>
            </p>
            <p>
            <form class="form-horizontal hidden" id="verify-phone-form" method="POST"
                action="{{ url_for('phones.verify', phone_id=phone.id) }}">
              {{ form.csrf_token }}
              {{ form.verification_code(id="form-verification-code", class="input-tiny") }}
              <input type="submit" class="btn btn-primary btn-small" value="Verify &raquo;">
                <!--
                <input type="hidden" name="hidden-phone-id" id="hidden-phone-id" value="{{ phone.id }}">
                <button type="button" class="btn btn-primary btn-small" id="verify-phone" name="verify-phone-submit" value="Verify &raquo;" data-loading-text="Loading...">
                -->  
              </form>
            </p>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <div class="alert">
        <p class="lead centered"><a href="{{ url_for('phones.add') }}">Add a phone &raquo;</a></p>
      </div>
    {% endif %}
  </div>

  <div class="span6 offset2">
    <h3>Your information</h3>
    <dl>
      <dt>Member Since</dt>
      <dd>{{ user.created|format_user_date }}</dd>
      <dt>{{ user.name }}</dt>
      <dd>Not you? <a href="{{ url_for('users.logout') }}">Switch users</a></dd>
      <dd><a href="#">Update account info</a></dd>
      <dt>Alarms</dt>
      <dd>You have {{ user.alarms.filter_by(active=true).count() }} active alarms</dd>
      <dd><a href="#">View history &raquo;</a></dd>
    </dl>
  </div>
</div>
{% endblock %}
{% block footer_addin %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#verify-phone-button').click(function() {
      $('#verify-phone-form').toggleClass('hidden');
      $('#remove-phone-link').toggleClass('hidden');
    });

    /* Add event Handler to verify-phone button */
    $('#verify-phone').click(function() {
      /* Get phone id and verification code from form. */
      var verCode = $('input[name=verification_code]').val();
      var phoneID = $('input[name=hidden-phone-id]').val();
      var userID = {{ g.user.id }};
      
      /* Update button to 'loading'. */
      $(this).button('loading');
    /* send json request. */
    /* upon success:
          update div id 'unverified-phone-div' to success alert.
          update div content to reflect verification
       upon failure:
       show error message */
      console.log("verCode: " + verCode);
      console.log("phoneID: " + phoneID);
      console.log("userID: " + userID);
    });
  });
</script>
{% endblock %}
