{% extends "base.html" %}
{% block header_addin %}
<style>
  .signup-form {
    width: 100%;
    overflow: auto;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
</style>
{% endblock %}
{% block page_header_title %}Welcome back{% endblock %}
{% block page_header_subtitle %}Sign in to your AlarmAway account{% endblock %}
{% block main_content %}
<div class="row">
  <div class="span5 offset1">
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <h4>Don't have an account? Signing up is <strong>fast, easy, and free.</strong></h4>
    <p class="centered"><a href="{{ url_for('users.register') }}" class="btn btn-primary btn-large">Try it now &raquo;</a></p>
  </div>

  <div class="span4 offset1">
    <h4 class="centered">Existing user sign in</h4>
    <form class="signup-form" action="{{ url_for('users.login') }}" method="POST">
      {{ form.csrf_token }}
      {{ form.email(class="input-block-level", placeholder="Email address") }}
      {{ form.password(class="input-block-level", placeholder="Your password") }}
      <p class="centered"><input type="submit" class="btn btn-primary" value="Go to account &raquo;"></p>
    </form>
  </div>
</div>
{% endblock %}
