{% extends "base.html" %}
{% block page_header_title %}Create an Account{% endblock %}
{% block page_header_subtitle %}And experience all that AlarmAway has to offer{% endblock %}
{% block main_container %}
<div class="home-signup-container" id="signup-container">
  <div class="container">

    <div class="row">
      <div class="span10 offset1">
        <h3 class="centered">Welcome to AlarmAway</h3>
        <p class="lead centered">Already registered? <a href="{{ url_for('users.login') }}">Sign in here</a></p>
        <div class="row">
          <div class="span6 offset2">
            <form class="form-horizontal" id="main-signup-form" action="{{ url_for('users.trial') }}" method="POST">
              {{ form.csrf_token }}
              <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                  {{ form.name(id="username", class="input-xlarge", placeholder="Create a username") }}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  {{ form.email(id="email", class="input-xlarge", placeholder="Your email address") }}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                  {{ form.password(id="password", class="input-xlarge", placeholder="Create a password") }}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="timezone">Timezone</label>
                <div class="controls">
                  {{ form.timezone(id="timezone", class="input-xlarge") }}
                </div>
              </div>
              <p class="centered">
                <input type="submit" class="btn btn-primary btn-large" value="Sign Up Free">
              </p>
            </form>
          </div>
        </div>
        <p class="centered lead">AlarmAway will change the way you wake up in the morning, promoting a healthier lifestyle. Check it out today.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
