<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block html_title %}Welcome to AlarmAway{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/readable-bootstrap.min.css') }}">

  <style>
    body {
      padding-top: 60px;
    }
    .signin-modal-form {
      width: 100%;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
    }
    .main-container {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .footer-container {
      margin-bottom: -10px;
      padding-top: 60px;
      padding-bottom: 30px;
      background: url('{{ url_for("static", filename="img/hexabump.png") }}');
      color: #999999;
    }
    .footer-container-row {
      padding-bottom: 30px;
    }
    .footer-container-row a {
      color: inherit;
    }
    .footer-header {
      color: #CCC;
    }
    .centered {
      text-align: center;
    }
    .v-centered {
      vertical-align: middle;
    }
  </style>
  {% block header_addin %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">

  <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ url_for('frontend.home') }}">AlarmAway</a>
        <div class="nav-collapse collapse">
          <div class="pull-right">
            {% if g.user %}
              <div class="btn-group">
                <a class="btn btn-primary" href="#"><i class="icon-user icon-white"> </i>
                  {{ g.user.name.capitalize() }}
                </a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('users.home') }}"><i class="icon-home"></i> Home</a></li>
                  <li><a href="{{ url_for('alarms.add') }}"><i class="icon-time"></i> Create alarm</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ url_for('users.logout') }}"><i class="icon-ban-circle"></i> Sign Out</a></li>
                </ul>
              </div>
            {% else %}
              <a href="{{ url_for('users.register') }}" class="btn btn-primary">Sign Up</a>
              <a href="#signinModal" role="button" class="btn" data-toggle="modal">Sign In</a>
            {% endif %}
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  {% block page_header_area %}
  <div class="page-header">
    <div class="container">
      <h1>{% block page_header_title %}Wake up to a Good Morning{% endblock %}</h1>
      <h1><small>
        {% block page_header_subtitle %}
          Introducing AlarmAway, A revolutionary alarm and wake up call service.
        {% endblock %}
      </small></h1>
      {% block page_header_addin %}{% endblock %}
    </div>
    {% endblock %}
  

    <!-- Sign in modal -->
    {% if not g.user %}
      {% block signin_modal %}
      <div id="signinModal" class="modal hide fade" tabindex="-1" role="dialog"
          aria-labelledby="signinModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="signinModalLabel">AlarmAway - User Login</h3>
        </div>
        <div class="modal-body">
          <h4>Don't have an account? <a href="{{ url_for('users.register') }}">Sign up for <strong>Free &raquo;</strong></a></h4>
          <form class="signin-modal-form" action="{{ url_for('users.login') }}" method="POST">
            {{ signin_form.csrf_token }}
            {{ signin_form.email(class="input-block-level", placeholder="Email address") }}
            {{ signin_form.password(class="input-block-level", placeholder="Your password") }}
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <input type="submit" class="btn btn-primary" value="Login">
          </form>
        </div>
      </div>
      {% endblock %}
    {% endif %}
      <!-- End sign in modal -->

    <!-- Begin main container -->

    {% block main_container %}
    <div class="main-container" id="signup-container">
      <div class="container">

        <!-- Begin Main Page content area -->

        {% block main_content %}{% endblock %}

        <!-- End Main content area -->

      </div>
    </div>
    {% endblock %}

    <!-- End Main Container -->

    <!-- Begin footer container -->

    {% block footer_container %}
    <div class="footer-container">
      <div class="container">
        <div class="row footer-container-row">

          <div class="span4">
            <h4 class="footer-header"><a href="{{ url_for('frontend.home') }}">AlarmAway</a></h4>
            <ul class="unstyled">
              <li><a href="{{ url_for('frontend.home') }}">Home</a></li>
              <li><a href="{{ url_for('users.register') }}"><strong>Sign Up!</strong></a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </div>

          <div class="span4">
            <h4 class="footer-header">Help</h4>
            <ul class="unstyled">
              <li><a href="#">How It Works</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
          </div>

          <div class="span4">
            <h4 class="footer-header">Get In Touch</h4>
            <ul class="unstyled">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Contact Form</a></li>
              <li><a href="#">Email Us</a></li>
            </ul>
          </div>

      </div>
      
      <footer>
        <p class="pull-right"><a href="#">Back to top</a>
        <p>&copy; 2013 Canopy Innovation &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div>
  </div>
  {% endblock %}

  <!-- END FOOTER CONTAINER -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src={{ url_for("static", filename="js/vendor/jquery-1.9.0.min.js") }}><\/script>')</script>
  <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <!-- ADD-IN AREA AT BOTTOM OF TEMPLATE FOR SCRIPTS, ETC. -->
  {% block footer_addin %}{% endblock %}

  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
