{% extends "base.html" %}
{% block content %}
<h1 class="t-center">Great! You're almost there!</h1>
<div class="row">
  <div class="span6 offset3 well">
    <form action="{{ url_for('verify') }}" method="post">
      <legend>verify your account</legend>
      <label>Email Address</label>
      <input type="text" name="user_email" placeholder="e.g. yourname@example.com" />
      <label>Password</label>
      <input type="password" name="user_pw" placeholder="Between 8 and 15 characters" />
      <label>Verification Code</label>
      <input type="text" name="user_ver_code" placeholder="e.g. 5555555" />
      <span class="help-block">
        You will receive this in a text message to your supplied phone number
      </span>
      <button type="submit" class="btn">Finished!</button>
    </form>
  </div>
</div>
{% endblock %}
