<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>
    {% block title %}
      AlarmAway -- Welcome to your simple morning
    {% endblock %}
  </title>
  <link rel="stylesheet" type="text/css"
       href="{{url_for('static', filename='css/bootstrap.css')}}" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span4 offset8 t-center">
        <a href="{{ url_for('login') }}">
          Have An Account? <strong>Sign In</strong>
        </a>
      </div>
    </div>
    {% if add_flash_msgs and add_header_msgs %}
      <div class="row">
        {% for msg in get_flashed_messages() %}
          <div class="span8 offset2 alert">
            {{ msg }}
          </div>
          {% endfor %}
        </div>
    {% endif %}
    {% block content %}{% endblock %}
    {% if add_flash_msgs and not add_header_msgs %}
      <div class="row">
        {% for msg in get_flashed_messages() %}
          <div class="span8 offset2 alert">
            {{ msg }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <script src="http://code.jquery.com/jquery-latest.js">
  </script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}">
  </script>
  {% block footer_addin %}{% endblock %}
</body>
</html>
