{% extends "base.html" %}
{% block preheader %}
<style type="text/css">
  .set-alarm-container {
    background: #FFF;
    width: 100%;
    max-width: 420px;
    margin: 20px auto;
    padding: 30px 60px 20px 60px;
    text-align: center;
    border: #347EAC dashed 3px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;   
  }
</style>
{% endblock %}
{% block hero_title %}Set An Alarm Away Alarm{% endblock %}
{% block hero_subtitle %}and never set another alarm again{% endblock %}
{% block content %}
<div class="row well well-large major-container">
{% with success_messages = get_flashed_messages(category_filter=['success']) %}
  {% if success_messages %}
  <div class="alert alert-success">
    <button type="button" data-dismiss="alert" class="close">x</button>
    <h4>Well Done!</h4>
    {% for success_message in success_messages %}
      <p>{{ success_message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% with error_messages = get_flashed_messages(category_filter=['error']) %}
    {% if error_messages %}
    <div class="alert alert-error">
      <button type="button" data-dismiss="alert" class="close">x</button>
      <h4>An error has occurred...</h4>
      {% for error_message in error_messages %}
        <p>{{ error_message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  {% with info_messages = get_flashed_messages(category_filter=['info']) %}
    {% if info_messages %}
    <div class="alert alert-info">
      <button type="button" data-dismiss="alert" class="close">x</button>
      <h4>More information</h4>
      {% for info_message in info_message %}
        <p>{{ info_message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  <div class="set-alarm-container faded-insert">
    <form class="form-horizontal" method="post"
        action="{{ url_for('new_alarm') }}">
      {{ form.csrf_token }}
      <div class="control-group">
        <label class="control-label" for="time">
          <strong>Alarm Time</strong>
        </label>
        <div class="controls">
          {{ form.alarm_time }}
          <a href="#">
            <i class="icon-question-sign"></i>
          </a>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="phone">
          <strong>Phone</strong>
        </label>
        <div class="controls">
          {{ form.phone_number }}
          <a href="#">
            <i class="icon-question-sign"></i>
          </a>
        </div>
      </div>
        <div class="t-center">
          <input type="submit" class="btn btn-warning btn-large"
          value="Set Alarm!">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
