{% extends "base.html" %}
{% block content %}
  <div class="page-header">
    <h1>Good Morning</h1>
      <h1><small>
          At last, you are just one click away from experiencing
        the true meaning of the phrase...
      </small></h1>
  </div>


  <div class="row row-header-room">
    <div class="alert alert-info">
      <h4>Check Your Phone -- Verify Your Number!</h4>
      AlarmAway can only use your verified phone number(s) for wake ups.
      A verification code has been sent via text (SMS) message to the phone
      number you provided on the previous page. Entering this code in the
      form below will verify this number for use with your AlarmAway
      account.
    </div>

    {% if error %}
    <div class="span8 offset2 t-left alert alert-error">
      <h4>Oops!</h4>
      {{ error }}
    </div>
    {% endif %}

    <div class="span8 offset2 well">
      <h3 class="t-center">
        Create an account to manage your morning
      </h3>

      <form action="{{ url_for('registration') }}" method="post">
      
        <div class="row">
          <div class="span7 offset1 t-left">


            <label>
              <strong>Email Address</strong>
            </label>
            <input type="text" name="user_email"
                        placeholder="e.g. yourname@example.com" />
            <span class="help-block">
              Dont worry, your info is safe with us! Check out our
              <a href="#">
                Privacy Policy
              </a>
            </span>  


            <label>
              <strong>Password</strong></label>
            <input type="password"
                   name="user_pw" placeholder="1234supersecretpassword!" />
            <span class="help-block">Choose a secure password, make sure to
              remember it and keep it secret!</span>


            <label><strong>Phone Number</strong></label>
            <span class="input-large uneditable-input">
              {{ session.ui_phone }}</span>
            <span class="help-block">This is the number that we sent your
              verification code to. <a href="#">Wrong number?</a></span>


            <label><strong>Verification Code</strong></label>
            <input type="text" name="user_ver_code"
                        placeholder="e.g. 1234567" />
            <span class="help-block">Didn't receive it? Make sure you have
              the correct number above, or <a href="#">get a new code</a>
            </span>

          </div>
        </div>
        
        <div class="row">
          <div class="span7 offset1 t-left">
            <h4>
              Done with the boring stuff! Checkout Your alarm below!
            </h4>
          </div>
        </div>

        <div class="row add-top-buffer">
          <div class="span3 offset3 t-center">
            <button type="submit" class="btn btn-primary btn-large">
              View your Alarm!
            </button>
          </div>
        </div>
        
        <div class="row add-top-buffer">
          <div class="span7 offset1 t-center">
            <h3>
              AlarmAway, Start with a Simpler Morning
            </h3>
          </div>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
