{% extends "base.html" %}
{% block header_addin %}
<style type="text/css">
  .regform {
    background: #FFF;
  }
</style>
{% endblock %}
{% block hero_title %}Make Waking Up Easier{% endblock %}
{% block hero_subtitle %}
    Let us manage the parts you hate, and finally treat yourself to a
    Good Morning
{% endblock %}
{% block content %}
<div class="row">
  <div class="span5">
    <h4 class="t-center">
      Experience a revolutionary movement to simplify your morning
    </h4>
    <p class="lead">Waking up can be hard. Sometimes it's tossing and
      turning, once in a while a hangover, or simply staying up too late,
      but no matter the reason, on many mornings the alarm ringing is a
      dreaded sound.
    </p>
    <h4 class="t-center">Not Anymore</h4>
    <p class="lead">Already have an account?
      <a href="{{ url_for('login') }}">Sign In Here</a>
    </p>
  </div>
  <div class="span5 offset1 well regform t-left">
    <h4 class="t-center">Create an account to manage your morning</h4>
    <form action="{{ url_for('registration') }}" method="post">
      <label>
        <strong>Email Address</strong>
      </label>
      <input type="text" name="user_email"
        placeholder="e.g. yourname@example.com" />
      <span class="help-block">
        Dont worry, your info is safe with us! Check out our
        <a href="#">Privacy Policy</a>
      </span>  
      <label>
        <strong>Password</strong>
      </label>
      <input type="password"
        name="user_pw" placeholder="1234supersecretpassword!" />
      <span class="help-block">
        Choose a secure password and write it down somewhere safe!
      </span>
      <label>
        <strong>Phone Number</strong>
      </label>
      <input type="tel" name="phone" placeholder="e.g. 555-555-5555" />
      <span class="help-block">
        We'll send you a verification code via text message (SMS)
        <a href="#">How does this work?</a>
      </span>
      <h4 class="t-center">
        Great! Set your first alarm or just checkout your account!
      </h4>
      <div class="row">
        <div class="span2 t-center">
          <h4>Your First Alarm</h4>
          <select name="time" id="time" class="span2">
            <option value="00:00">12:00 AM</option>
            <option value="00:15">12:15 AM</option>
            <option value="00:30">12:30 AM</option>
            <option value="00:38">12:45 AM</option>
            
            <option value="01:00">1:00 AM</option>
            <option value="01:15">1:15 AM</option>
            <option value="01:30">1:30 AM</option>
            <option value="01:45">1:45 AM</option>
            
            <option value="02:00">2:00 AM</option>
            <option value="02:15">2:15 AM</option>
            <option value="02:30">2:30 AM</option>
            <option value="02:45">2:45 AM</option>
            
            <option value="03:00">3:00 AM</option>
            <option value="03:15">3:15 AM</option>
            <option value="03:30">3:30 AM</option>
            <option value="03:45">3:45 AM</option>
            
            <option value="04:00">4:00 AM</option>
            <option value="04:15">4:15 AM</option>
            <option value="04:30">4:30 AM</option>
            <option value="04:45">4:45 AM</option>
            
            <option value="05:00">5:00 AM</option>
            <option value="05:15">5:15 AM</option>
            <option value="05:30">5:30 AM</option>
            <option value="05:45">5:45 AM</option>
            
            <option value="06:00">6:00 AM</option>
            <option value="06:15">6:15 AM</option>
            <option value="06:30">6:30 AM</option>
            <option value="06:45">6:45 AM</option>
           
            <option value="07:00" selected="selected">7:00 AM</option>
            <option value="07:15">7:15 AM</option>
            <option value="07:30">7:30 AM</option>
            <option value="07:45">7:45 AM</option>
            
            <option value="08:00">8:00 AM</option>
            <option value="08:15">8:15 AM</option>
            <option value="08:30">8:30 AM</option>
            <option value="08:45">8:45 AM</option>
            
            <option value="09:00">9:00 AM</option>
            <option value="09:15">9:15 AM</option>
            <option value="09:30">9:30 AM</option>
            <option value="09:45">9:45 AM</option>
            
            <option value="10:00">10:00 AM</option>
            <option value="10:15">10:15 AM</option>
            <option value="10:30">10:30 AM</option>
            <option value="10:45">10:45 AM</option>
          
            <option value="11:00">11:00 AM</option>
            <option value="11:15">11:15 AM</option>
            <option value="11:30">11:30 AM</option>
            <option value="11:45">11:45 AM</option>
          
            <option value="12:00">12:00 PM</option>
            <option value="12:15">12:15 PM</option>
            <option value="12:30">12:30 PM</option>
            <option value="12:45">12:45 PM</option>
        
            <option value="13:00">1:00 PM</option>
            <option value="13:15">1:15 PM</option>
            <option value="13:30">1:30 PM</option>
            <option value="13:45">1:45 PM</option>
        
            <option value="14:00">2:00 PM</option>
            <option value="14:15">2:15 PM</option>
            <option value="14:30">2:30 PM</option>
            <option value="14:45">2:45 PM</option>
        
            <option value="15:00">3:00 PM</option>
            <option value="15:15">3:15 PM</option>
            <option value="15:30">3:30 PM</option>
            <option value="15:45">3:45 PM</option>
        
            <option value="16:00">4:00 PM</option>
            <option value="16:15">4:15 PM</option>
            <option value="16:30">4:30 PM</option>
            <option value="16:45">4:45 PM</option>
        
            <option value="17:00">5:00 PM</option>
            <option value="17:15">5:15 PM</option>
            <option value="17:30">5:30 PM</option>
            <option value="17:45">5:45 PM</option>
        
            <option value="18:00">6:00 PM</option>
            <option value="18:15">6:15 PM</option>
            <option value="18:30">6:30 PM</option>
            <option value="18:45">6:45 PM</option>
        
            <option value="19:00">7:00 PM</option>
            <option value="19:15">7:15 PM</option>
            <option value="19:30">7:30 PM</option>
            <option value="19:45">7:45 PM</option>
       
            <option value="20:00">8:00 PM</option>
            <option value="20:15">8:15 PM</option>
            <option value="20:30">8:30 PM</option>
            <option value="20:45">8:45 PM</option>
        
            <option value="21:00">9:00 PM</option>
            <option value="21:15">9:15 PM</option>
            <option value="21:30">9:30 PM</option>
            <option value="21:45">9:45 PM</option>
        
            <option value="22:00">10:00 PM</option>
            <option value="22:15">10:15 PM</option>
            <option value="22:30">10:30 PM</option>
            <option value="22:45">10:45 PM</option>
        
            <option value="23:00">11:00 PM</option>
            <option value="23:15">11:15 PM</option>
            <option value="23:30">11:30 PM</option>
            <option value="23:45">11:45 PM</option>
          </select>
          <button type="submit" id="create_alarm" name="create_alarm" 
              class="btn btn-warning">
            Create Alarm
          </button>
        </div>
        <div class="span2 offset1 t-center">
          <h4>Set alarm later</h4>
          <button type="submit" id="create_account" name="create_account"
              class="btn btn-primary">
            My Account &raquo;
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
