{% extends "base.html" %}
{% block preheader %}
<style type="text/css">
  .form-content-container {
    width: 100%;
    max-width: 600px;
    padding: 20px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock %}
{% block meta_nav_content %}{% endblock %}
{% block hero_title %}Make Waking Up Easier{% endblock %}
{% block hero_subtitle %}
  Let us manage the parts you hate, and finally treat yourself to a
  Good Morning
{% endblock %}
{% block content %}
<div class="row well well-large major-container">
  <div class="row zero-row">
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <h4>Check for your verification code!</h4>
      <p>
        We've sent a unique verification code to the phone number you provided,
        and you should be receiving it via text message in the next few minutes.
        You can enter this on the next page to verify your account.
      </p>
    </div>
  </div>
    {% with success_messages = get_flashed_messages(category_filter=['success']) %}
  {% if success_messages %}
  <div class="alert alert-success">
    <button type="button" data-dismiss="alert" class="close">x</button>
    <h4>Well Done!</h4>
    {% for success_message in success_messages %}
      <p>{{ success_message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% with error_messages = get_flashed_messages(category_filter=['error']) %}
    {% if error_messages %}
    <div class="alert alert-error">
      <button type="button" data-dismiss="alert" class="close">x</button>
      <h4>An error has occurred...</h4>
      {% for error_message in error_messages %}
        <p>{{ error_message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  {% with info_messages = get_flashed_messages(category_filter=['info']) %}
    {% if info_messages %}
    <div class="alert alert-info">
      <button type="button" data-dismiss="alert" class="close">x</button>
      <h4>More information</h4>
      {% for info_message in info_messagess %}
        <p>{{ info_message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  <div class="row zero-row">
    <div class="form-content-container faded-insert">
      <h3 class="t-center">
        Create an account to manage your morning
      </h3>
      <form action="{{ url_for('registration') }}" method="post"
          class="left">
        <label>
          <strong>Email Address</strong>
        </label>
        <input type="text" name="user_email"
          placeholder="e.g. yourname@example.com" />
        <span class="help-block">
          Dont worry, your info is safe with us! Check out our
          <a href="#">Privacy Policy</a>
        </span>  
        <label>
          <strong>Password</strong>
        </label>
        <input type="password"
          name="user_password" placeholder="1234supersecretpassword!" />
        <span class="help-block">
          Choose a secure password, make sure to remember it and keep it secret!
        </span>
        <label>
          <strong>Phone Number</strong>
        </label>
        <span class="input-large uneditable-input">
          {{ session.user_phone }}
        </span>
        <span class="help-block">
          This is the number that we sent your verification code to.
          <a href="#">Wrong number?</a>
        </span>
        <h4 class="t-center">
          Done with the boring stuff! Now Checkout your account and alarm!
        </h4>
        <div class="t-center">
          <button type="submit" class="btn btn-warning btn-large">
            <strong>Create Account &raquo;</strong>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
