{% extends "base.html" %}
{% block hero_title %}Make Waking Up Easier{% endblock %}
{% block hero_subtitle %}
  Let us manage the parts you hate, and finally treat yourself to a
  Good Morning
{% endblock %}
{% block content %}
<div class="row">
  <div id="ver-alert" class="alert alert-info span6 offset3">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <h4>Have a verification code?</h4>
    <p>Great, we'll get it from you on the next page once
      you have created an account.
    </p>
  </div>
</div>
{% if error %}
<div class="row">
  <div class="span8 offset2 t-left alert alert-error">
    <h4>Oops!</h4>
    {{ error }}
  </div>
</div>
{% endif %}
<h3 class="t-center">
  Create an account to manage your morning
</h3>
<form action="{{ url_for('registration') }}" method="post"
    class="span8 offset2 t-left signup-form">
  <label>
    <strong>Email Address</strong>
  </label>
  <input type="text" name="user_email"
    placeholder="e.g. yourname@example.com" />
  <span class="help-block">
    Dont worry, your info is safe with us! Check out our
    <a href="#">Privacy Policy</a>
  </span>  
  <label>
    <strong>Password</strong></label>
  <input type="password"
    name="user_password" placeholder="1234supersecretpassword!" />
  <span class="help-block">
    Choose a secure password, make sure to remember it and keep it secret!
  </span>
  <label>
    <strong>Phone Number</strong>
  </label>
  <span class="input-large uneditable-input">{{ session.user_phone }}</span>
  <span class="help-block">
    This is the number that we sent your verification code to.
    <a href="#">Wrong number?</a>
  </span>
  <h4 class="t-center">
    Done with the boring stuff! Checkout Your alarm below!
  </h4>
  <div class="t-center">
  <button type="submit" class="btn btn-warning btn-large">
    <strong>View your Alarm!</strong>
  </button>
  </div>
</form>
{% endblock %}
