{% extends "base.html" %}
{% block content %}
<h1 class="t-center">
  Welcome to a Simpler Morning
</h1>
<div class="row">
  <div class="span10 offset1">
    <h1 class="t-center">
      <small>
        You have successfully setup your account, Welcome to Alarm Away, and
        Welcome to a Good Morning!
      </small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="span4 offset4 t-center">
    <h3>Activate your Alarm: </h3>
    <div class="row">
      <div class="span4 well">
        <h4>{{ user_alarm|alarm_format }}</h4>
        <a href="#">edit</a>
        <h4>{{ user_phone|phone_format }}</h4>
        <a href="#">edit</a>
        <h4>Everything Correct?</h4>
        <button class="btn btn-primary btn-large">
          Set Alarm!
        </button>
      </div>
    </div>
  </div>
</div>
<h2 class="t-left">
  Check out these things to do...
</h2>
<div class="row add-top-buffer">
  <div class="span12">
    <ul class="thumbnails">
      <li class="span4 row-header-room">
        <a href="#" class="thumbnail">
          <h3 class="t-center">
            View your alarms
          </h3>
        </a>
      </li>
      <li class="span4">
        <a href="#" class="thumbnail">
          <h3 class="t-center">
            Upgrade Account
          </h3>
        </a>
      </li>
      <li class="span4 row-header-room">
        <a href="#" class="thumbnail">
          <h3 class="t-center">
            Create Profile
          </h3>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
