{% extends "base.html" %}
{% block preheader %}
<style type="text/css">
 .promo-container {
   max-width: 774px; 
   margin: 60px auto;
   text-align: center;
 }
 .promo-header {
   font-size: 48px;
   text-align: center;
 }
 .promo-pod {
   width: 220px;
   padding: 19px;
   margin: 0;
   float: left;
 }
</style>
{% endblock %}
{% block hero_subtitle %}
  AlarmAway is a simple, revolutionary approach to waking up the morning, and
  the first step in promoting a Happier and Healthier You. Check it out, and
  improve your lifestyle today.
{% endblock %} 
{% block hero_extras %}
  <button class="btn btn-warning btn-large">
    <strong>Try It Free &raquo;</strong>
  </button>
{% endblock %}
{% block content %}
<div class="row well well-large major-container">
  <div class="row zero-row">
  {% with success_messages = get_flashed_messages(category_filter=['success']) %}
  {% if success_messages %}
  <div class="alert alert-success">
    <button type="button" data-dismiss="alert" class="close">x</button>
    <h4>Well Done!</h4>
    {% for success_message in success_messages %}
      <p>{{ success_message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% with error_messages = get_flashed_messages(category_filter=['error']) %}
    {% if error_messages %}
    <div class="alert alert-error">
      <button type="button" data-dismiss="alert" class="close">x</button>
      <h4>An error has occurred...</h4>
      {% for error_message in error_messages %}
        <p>{{ error_message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  {% with info_messages = get_flashed_messages(category_filter=['info']) %}
    {% if info_messages %}
    <div class="alert alert-info">
      <button type="button" data-dismiss="alert" class="close">x</button>
      <h4>More information</h4>
      {% for info_message in info_messagess %}
        <p>{{ info_message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
   <div class="span5">
      <img src="{{ url_for('static', filename='img/alarm-clock-full.png') }}"
        alt="How AlarmAway Works" class="img-rounded" />
    </div>
    <div class="span6 t-center faded-insert">
      <h3 class="header-dark">See for yourself</h3>
      <h3 class="header-dark">Signing up is
        <span class="header-blue">Fast</span>,
        <span class="header-blue">Simple</span>, and
        <span class="header-blue">Free!</span>
      </h3>
      <form method="post" class="form-horizontal"
          action="{{ url_for('pre_registration') }}">
        <div class="control-group">
          <label class="control-label" for="timezone">
            <strong>
              Timezone
            </strong>
          </label>
          <div class="controls">
            <select name="timezone" id="timezone">
              <option>Select a timezone</option>
              {% for tz in tz_list %}
              <option value="{{ tz }}">{{ tz }}</option>
              {% else %}
              <option value="US/Eastern">US/Eastern</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="phone">
            <strong>Phone Number</strong>
          </label>
          <div class="controls">
            <input type="text" id="phone" name="phone"
                      placeholder="e.g. 555-555-5555" />
          </div>
        </div>
        <div class="row">
          <div class="span4 offset1">
            <button type="submit" class="btn btn-warning btn-large btn-block">
              <strong>Get Started!</strong>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="promo-container">
    <h1 class="promo-header header-dark">Take Control Of Your Morning</h1>
    <div class="promo-pod">
      <h3>Consistency</h3>
      <p>Paragraph text parag raph text pa ragraph te xt paragraph text p aragr
        aphtextpa ragraph text pa text paragra t ext paragr aphte xti!</p>
      <button type="button" class="btn btn-large btn-primary">
        Learn More &raquo;</button>
    </div>
    <div class="promo-pod">
      <h3>Keep It Simple</h3>
      <p>Paragraph text paragraph text paragraph text paragraph text paragraph
        text paragraph text paragraph text paragraph text paragraph text</p>
      <button type="button" class="btn btn-large btn-primary">
        Learn More &raquo;</button>
    </div>
    <div class="promo-pod">
      <h3>Set And Forget</h3>
      <p>Paragraph text paragraph text paragraph text paragraph text paragraph
        text paragraph text paragraph text paragraph text paragraph text</p>
      <button type="button" class="btn btn-large btn-primary">
        Learn More &raquo;</button>
    </div>
  </div>
</div>
{% endblock %}
