{% extends "base.html" %}
{% block preheader %}
<style type="text/css">
  .form-content-container {
    width: 100%;
    max-width: 360px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock %}
{% block hero_title %}
  Add new phone
{% endblock %}
{% block hero_subtitle %}
  Add and verify a new phone and receive your alarms wherever you need them
{% endblock %}
{% block content %}
<div class="row well well-large major-container">
  <div class="row zero-row">
   {% with success_messages = get_flashed_messages(category_filter=['success']) %}
  {% if success_messages %}
  <div class="alert alert-success">
    <button type="button" data-dismiss="alert" class="close">x</button>
    <h4>Well Done!</h4>
    {% for success_message in success_messages %}
      <p>{{ success_message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% with error_messages = get_flashed_messages(category_filter=['error']) %}
    {% if error_messages %}
    <div class="alert alert-error">
      <button type="button" data-dismiss="alert" class="close">x</button>
      <h4>An error has occurred...</h4>
      {% for error_message in error_messages %}
        <p>{{ error_message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  {% with info_messages = get_flashed_messages() %}
    {% if info_messages %}
    <div class="alert alert-info">
      <button type="button" data-dismiss="alert" class="close">x</button>
      <h4>More information</h4>
      {% for info_message in info_messages %}
        <p>{{ info_message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  </div>
  <div class="row zero-row">
    <div class="form-content-container faded-insert">
      <h3 class="t-center">
        Enter your new number
      </h3>
      <form action="{{ url_for('new_phone') }}" method="POST">
        {{ form.csrf_token }}
        <label>
          <strong>{{ form.phone_number.label }}</strong>
        </label>
        {{ form.phone_number(placeholder="e.g. (555)555-1234") }}
        <span class="help-block">
         We'll send a verification code to this number via text message. 
          <a href="#">Terms and Conditions</a>
        </span>
        <div class="t-center">
          <input type="submit" class="btn btn-warning btn-large"
            value="Add this number &raquo;">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
