{% extends "base.html" %}
{% block hero_title %}Alarm Away Admin Page{% endblock %}
{% block hero_subtitle %}View all data in the current application context.{% endblock %}
{% block content %}
<div class="row well well-large major-container">
  <div class="row row-zero">
    <div class="span10 offset1 t-left">
      <table class="table table-bordered table-striped table-condensed">
        <caption><h3 class="t-center">Users</h3></caption>
        <thead>
          <tr>
            <th>User ID</th>
            <th>Status</th>
            <th>Name</th>
            <th>Email</th>
            <th>Timezone</th>
            <th>Registered</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td><strong>{{ user.id }}</strong></td>
            <td>{{ user.getStatus() }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.timezone }}</td>
            <td>{{ user.created }}</td>
            <td>{{ user.getRole() }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row row-zero">
    <div class="span10 offset1 t-left">
      <table class="table table-bordered table-striped table-condensed">
        <caption><h3 class="t-center">Phones</h3></caption>
        <thead>
          <tr>
            <th>Phone ID</th>
            <th>Number</th>
            <th>Owner ID</th>
            <th>Verified</th>
            <th>Added</th>
          </tr>
        </thead>
        <tbody>
        {% for phone in phones %}
          <tr>
            <td><strong>{{ phone.id }}</strong></td>
            <td>{{ phone.number }}</td>
            <td>{{ phone.owner_id }}</td>
            <td>{{ phone.verified }}</td>
            <td>{{ phone.created|format_user_date }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row row-zero">
    <div class="span10 offset1 t-left">
      <table class="table table-bordered table-striped table-condensed">
        <caption><h3 class="t-center">Alarms</h3></caption>
        <thead>
          <tr>
            <th>Alarm ID</th>
            <th>Alarm Owner (id, name)</th>
            <th>Alarm Phone (id, number)</th>
            <th>Alarm Time (utc)</th>
            <th>Alarm Local Time</th>
            <th>Alarm Status</th>
            <th>Alarm Created</th>
          </tr>
        </thead>
        <tbody>
        {% for alarm in alarms %}
          <tr>
            <td><strong>{{ alarm.id }}</strong></td>
            <td>{{ alarm.owner.id }}, {{ alarm.owner.name }}</td>
            <td>{{ alarm.phone.id }}, {{ alarm.phone.number }}</td>
            <td>{{ alarm.time }}</td>
            <td>{{ alarm.getLocal() }}</td>
            <td>{{ alarm.active }}</td>
            <td>{{ alarm.created|format_user_date }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
