<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>
  {% block title %}AlarmAway -- Welcome to your simple morning{% endblock %}
</title>
<link rel="stylesheet" type="text/css"
     href="{{url_for('static', filename='css/cerulean.css')}}" />
{% block preheader %}{% endblock %}
<style type="text/css">
  #footer {
    height: 50px;
  }
  .aa-nav {
    margin-bottom: 0;
    background: inherit;
  }
  .aa-nav-inner {
    background: inherit;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    border: None;
  }
  .aa-footer-nav {
    margin: 0;
    background:inherit);
  }
  .aa-footer-nav-inner {
    background: inherit;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    border: None;
  }
  .hero-content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  </style>
</head>

<body class="bg-dark-grid">

<!-- Top Nav bar. Can be overridden if necessary with block meta_nav. -->
{% block meta_nav %}
  <div class="navbar aa-nav">
    <div class="navbar-inner aa-nav-inner">
    {% block meta_nav_content %}
      {% if session.user_id %}
        <a class="btn btn-primary" href="{{ url_for('users.logout') }}">Logout</a>
        <a class="btn btn-warning" href="{{ url_for('users.home') }}">Your Account</a>
      {% else %}
        <a class="btn btn-primary" href="{{ url_for('users.login') }}">Sign In</a>
        <a class="btn btn-warning" href="{{ url_for('users.register') }}">Sign Up</a>
      {% endif %}
    {% endblock %}
    </div>
  </div>
{% endblock %}
<!-- End Meta nav area -->  

<!-- Main 'Hero Unit' header. Can be customized with block's 'hero_title' and
     'hero_subtitle', respectively. Can also be extended beneath the titling
     with block hero_extras.-->
  <div class="hero-unit bg-light-grid t-center">
    <div class="hero-content">
      <h1>
      {% block hero_title %}
        <span class="header-dark">Wake Up To A </span>
        <span class="header-blue">Good</span>
        <span class="header-dark">Morning</span>
      {% endblock %}
      </h1>
      <h4>
      {% block hero_subtitle %}
        Alarm Away, <span class="header-dark">Waking Up</span> A Revolution
      {% endblock %}
      </h4>
      {% block hero_extras %}{% endblock %}
    </div>
  </div>
<!-- End hero header area. -->

<!-- Begin Main Container Area. -->
{% block container %}
<div class="container">
  <div class="row well well-large major-container">
    {% block flasher %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="row zero-row">
            <div class="alert">
              <button type="button" data-dismiss="alert" class="close">
                x
              </button>
              <h3 class="text-left">Your Messages</h3>
              <ul class="unstyled">
                <!-- Display error messages in red, with a red 'Oops...' badge. -->
                {% for category, msg in messages %}
                  {% if category=='error' %}
                    <li>
                      <span class="label label-important">Oops...</span>
                      <span class="text-error">{{ msg }}</span>
                    </li>
                  {% endif %}
                {% endfor %}

                <!-- Display success messages in green, with a green success badge. -->
                {% for category, msg in messages %}
                  {% if category=='success' %}
                    <li>
                      <span class="label label-success">Success!</span>
                      <span class="text-success">{{ msg }}</span>
                    </li>
                  {% endif %}
                {% endfor %}
 
                <!-- Display any other messages in blue, with a blue info badge. -->
                {% for category, msg in messages %}
                  {% if category not in ['error', 'success'] %}
                    <li>
                      <span class="label label-info">Info</span>
                      <span class="text-info">{{ msg }}</span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endwith %}
    {% endblock %}
    <!-- End Flasher Area -->

    <!-- Begin Main Content Area -->
    {% block content %}{% endblock %}
    <!-- End Main Content Area -->
  </div>
</div>
{% endblock %}
<!-- End Main Container -->

<!-- Begin Footer Navbar -->
<div id="footer">
    <div class="navbar aa-footer-nav">
      <div class="navbar-inner aa-footer-nav-inner">
        <a href="{{ url_for('home') }}" class="brand">Alarm Away</a>
        <ul class="nav">
          <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
          <li>
            <a href="{{ url_for('users.register') }}"><strong>Sign Up Now</strong></a>
          </li>
          <li><a href="#">How It Works</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
</div>
<!-- Load JS last for page load speed benefits. -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
